* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #b0b6e3;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-block: 1rem;
	justify-content: center;
}

.color {
	background-color: #fff;
	margin: 1rem;
	padding: 0.5rem;
	text-align: center;
	border-radius: 0.6rem;
	box-shadow: 0 10px 20px rgba(57,87,220,0.08);
	cursor: pointer;
	transition: transform 0.3 ease;
}

.color:active {
	transform: scale(0.95);
}

.color:hover .rect-box {
	filter: brightness(106%);
}

.rect-box {
	background-color: #8A6CEF;
	width: 200px;
	height: 200px;
	border-radius: 0.6rem;
}

.text {
	margin-block: 1rem 0;
	display: block;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
}

.refresh-btn {
	all: unset;
	box-sizing: border-box;
	position: fixed;
	left: 50%;
	bottom: 40px;
	transform: translateX(-50%);
	padding: 0.8rem 1.3rem;
	background-color: #8A6CEF;
	color: #fff;
	border-radius: 0.4rem;
	font-size: 1.2rem;
	font-weight: 500;
	border: 2px solid #fff;
	box-shadow: 0 10px 20px rgba(57,87,220,0.2);
	cursor: pointer;
}

@media (max-width: 500px) {
	.container {
		margin-top: 10px;
		.color {
			margin: 8px;
			padding: 5px;
		}
		.rect-box {
			width: 140px;
			height: 140px;
		}
		.text {
			font-size: 1rem;
		}
	}
}